@mixin badge-variant($bg) {
  color: color-constract($bg);
  background-color: $bg;

  &[href] {
    &:hover,
    &:focus {
      color: color-constract($bg);
      text-decoration: none;
      background-color: shade-color($bg, 10%);
    }
  }
}
