@mixin badge-variant($bg) {
  color: color-contrast($bg);
  background-color: $bg;

  &[href] {
    @include hover-focus {
      color: color-contrast($bg);
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}